CUDA_DIR = /usr/local/cuda
INCLUDE = $(CUDA_DIR)/include -I./
CUDA_LIB_DIR = $(CUDA_DIR)/lib64

#NVCC_FLAGS = -arch=sm_20 -Xptxas -v -Xptxas -dlcm=cg -G -g --compiler-options -fopenmp
NVCC_FLAGS = -arch=sm_20 -Xptxas -v -Xptxas -dlcm=cg --compiler-options -fopenmp
GCC_FLAGS = -fopenmp
ICC_FLAGS = -openmp

GCC = g++
NVCC = nvcc
ICC = g++